
/* -------------- CONTENEDOR GENERAL -------------- */
.dashboard-container {
  display: flex;                  
  min-height: 100vh;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
       
}

/* -------------- MAIN CONTENT -------------- */
.main-content-container {
  flex: 1;                        
                 
  margin-left: var(--sidebar-width-open);   
  transition: var(--sidebar-transition);   
}

/* -------------- CUANDO EL SIDEBAR ESTÁ CERRADO -------------- */
.sidebar-closed .main-content-container {
  margin-left: var(--sidebar-width-closed);
}

/* -------------- RESPONSIVE (móvil ≤ 768 px) -------------- */
@media (max-width: 768px) {

  .main-content-container {
    margin-left: 0 !important;
  }
}

