.btn-ia-news {
  background: linear-gradient(135deg, #321041, #541d69);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 0 6px #282629;
  box-shadow: 0 0 10px #ebebeb, 0 0 20px #4457ad;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn-ia-news:hover {
  transform: scale(1.05);
  color: #ebebeb;
  box-shadow: 0 0 15px #526bb3, 0 0 25px #c2ccd4;
}

.btn-ia-news:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}

.btn-ia-news i {
  text-shadow: 0 0 4px #fff;
  z-index: 1;
  position: relative;
}
